[submodule "Maya/scripts/Toonkit_Core/tkProjects/dbEngines/ShotgunEngine"]
	path = Maya/scripts/Toonkit_Core/tkProjects/dbEngines/ShotgunEngine
	url = https://github.com/CyrilToonkit/ShotgunEngine.git
	branch = master
